<%= @favorite.job.corporation.name%>様
<br>
<p>日頃より弊社Nurse Workerをご利用いただきまして誠にありがとうございます。</p>
<p><%= @favorite.user.name%>様より面談希望とのことでエントリーがありました。</p>
<br>
<p><%= @favorite.job.corporation.name%>様の方でも一度お話をされたいということであれば、下記ご連絡先までテンプレートに従ってご連絡をよろしくお願いいたします。</p>
<br>
<p>看護師様ご連絡先:<%= @favorite.user.email%></p>
<br>
<p>【テンプレート】</p>
<p>ご担当者様:</p>
<p>お電話番号:</p>
<p>ご連絡希望時間:</p>
<p>面談希望日:</p>
<p>看護師様へのご質問等:</p>