<%= @favorite.user.name%>様
<br>
<p>日頃より弊社Nurse Workerをご利用いただきまして誠にありがとうございます。</p>
<p><%= @favorite.job.corporation.name%>様へエントリーメールが送信されました。</p>
<br>
<p>お話を進められる場合ご登録いただいているメールアドレスへ法人様からご連絡がございますので、今しばらくお待ちください。</p>
