<h1>看護師一覧</h1>
<table> 
  <tr>
    <th>法人名</th>
    <th>エリア</th>
    <th>働いていた時期</th>
    <th>クチコミ</th>
  </tr>
<% @users.each do |user| %>
    <tr>
    <td><%= user.name %></td>
    <td><%= user.area %></td>
    <td><%= user.age %></td>
    <td><%= link_to '詳細を確認する', user_path(user.id) %></td>
  </tr>
<% end %>
</table>
