// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card_container{
  width: 1200px;
  margin-top: 50px;
  text-align: center;
}
.card-body{
  width: 300px;
  height: 130px;
}
.h-100{
  width: 300px;
  margin: 30px;
}
.card-deck{
  float: left;
  padding-left: 7rem;
  width: 300px;
}
.card_image{
  border-radius: 50%;
}

.card-header{
  height: 50px;
}
.job_menu{
  text-align: center;
}