.about {
    font-size: 1rem;
    line-height: 2;
    margin:50px auto;
    background-color: #F6F8FA;
    text-align: center;
    color: #6C6C6C;
    padding-top: 200px;
  }
  .function {
    background-color: #F6F8FA;
    width: 100%;
    height: 450px;
    position: relative;
  }
  .function h1{
    font-size: 3rem;
    position:relative;
    top: 50px;
    text-align: center;
    color: #6C6C6C;
  }
  .function-images {
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 60px;
    text-align: center;
  }
  .function-image {
    display: inline-block;
    margin: 50px;
  }
  .f-images{
    width: 170px;
    height: 170px;
  }
  .main_images{
    object-position: 70% 50%;
    width: 100%;
    height: 35rem;
    object-fit: cover;
  }
  .card_container h1{
    font-size: 3rem;
    position:relative;
    text-align: center;
    color: #6C6C6C;
    padding-left: 4rem;
  }