// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.users table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.users table th,table td{
  text-align: center;
  width: 15%;
  padding: 15px 0;
}
.login{
  text-align: center;
}
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.profile{
  text-align: center;
}
.profile img{
  border-radius: 50%;
  float: left;
  margin-left: 180px;
  margin-top: 60px;
}

.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  border-top: none;
  border-left: none ;
  border-right: none;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.corporation_profile img{
  border-radius: 50%;
  float: left;
  margin-left: 180px;
  margin-top: 60px;
}
.corporation_profile{
  text-align: center;
}
.corporation_profile table{
  margin-right: 200px;
}
.users img{
  border-radius: 50%;
}