<%= @favorite.user.name%>様
<br>
<p>日頃より弊社Nurse Workerをご利用いただきまして誠にありがとうございます。</p>
<p><%= @favorite.corporation.name%>様より一度お話したいとのことで見学オファーが届きました。</p>
<br>
<p><%= @favorite.user.name%>様の方でも一度お話を伺いたいということであれば、下記ご連絡先までテンプレートに従ってご連絡をよろしくお願いいたします。</p>
<br>
<p>法人様ご連絡先:<%= @favorite.corporation.email%></p>
<br>
<p>【テンプレート】</p>
<p>お名前:</p>
<p>お電話番号:</p>
<p>ご連絡希望時間:</p>
<p>見学希望日:</p>
<p>法人様へのご質問等:</p>